/**=====================
     Header css start
==========================**/
// Responsive menu css start //
@media (max-width: 1199px) {
  .according-menu {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
/**=====================
     Header css end
==========================**/
