<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sheltos - 404 page">
    <meta name="keywords" content="sheltos">
    <meta name="author" content="sheltos">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <title>Sheltos - 404 page</title>

   <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/animate.css">

    <!-- Template css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/admin.css">

</head>

<body>

    <!-- Loader start -->
    <div class="loader-wrapper">
        <div class="row loader-img">
            <div class="col-12">
                <img src="../assets/images/loader/loader-2.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- Loader end -->
    
    <!-- page wrapper start -->
    <div class="page-wrapper">
        <div class="page-not-found">
            <div class="container-fluid">
               <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="not-found-img">
                            <img src="../assets/images/svg/3.svg" class="img-fluid" alt="">
                            <div class="animation-error">
                                <img src="../assets/images/svg/error.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="not-found-content">
                            <h2>Sorry...This page is gone.</h2>
                            <p class="font-roboto light-font">We are sorry but the page you are looking for doesn't exist or has been removed. please check or search again.</p>
                            <div class="btns">
                                <a href="index.html" class="btn btn-pill btn-gradient color-4">go to home page</a>
                                <a href="index.html" class="btn btn-pill btn-dashed color-4 ms-2">Report problem</a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- page wrapper start -->

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!--admin js -->
    <script src="../assets/js/admin-script.js"></script>

</body>

</html>