<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sheltos - Signup page">
    <meta name="keywords" content="sheltos">
    <meta name="author" content="sheltos">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <title>Sheltos - Signup page</title>

   <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/animate.css">

    <!-- Template css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/admin.css">

</head>

<body>

    <!-- Loader start -->
    <div class="loader-wrapper">
        <div class="row loader-img">
            <div class="col-12">
                <img src="../assets/images/loader/loader-2.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- Loader end -->
    
    <div class="page-wrapper">
        <div class="authentication-box">
            <div class="container-fluid">
                <div class="row log-in">
                    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-8 form-login">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-3 text-start">
                                    <h2>Sign up</h2>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i data-feather="user"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Enter email address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                            <input type="password" id="pwd-input" class="form-control"  maxlength="8" placeholder="Password">
                                            <div class="input-group-apend">
                                                <div class="input-group-text">
                                                    <i id="pwd-icon" class="far fa-eye-slash"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="important-note">
                                            password should be a minimum of 8 characters and should contains letters and numbers
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-gradient btn-pill color-2 me-sm-3 me-2">Create Account</button>
                                        <a href="login.html" class="btn btn-dashed btn-pill color-2">Log in</a>
                                    </div>
                                    <div class="divider">
                                        <h6>or</h6>
                                    </div>
                                    <div>
                                        <h6>Sign up with</h6>
                                        <div class="row social-connect">
                                            <div class="col-6">
                                                <a href="https://www.facebook.com/" class="btn btn-social btn-flat facebook p-0">
                                                    <i class="fab fa-facebook-f"></i>
                                                    <span>Facebook</span>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="https://twitter.com/" class="btn btn-social btn-flat twitter p-0">
                                                    <i class="fab fa-twitter"></i>
                                                    <span>Twitter</span>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="https://accounts.google.com/" class="btn btn-social btn-flat google p-0">
                                                    <i class="fab fa-google"></i>
                                                    <span>Google</span>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="https://www.linkedin.com/" class="btn btn-social btn-flat linkedin p-0">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span>Linkedin</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 offset-xxl-1 col-lg-6 auth-img">
                        <img src="../assets/images/svg/2.svg" class="bg-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather-icon/feather.min.js"></script>
    <script src="../assets/js/feather-icon/feather-icon.js"></script>

    <!--admin js -->
    <script src="../assets/js/admin-script.js"></script>

    <!-- login js -->
    <script src="../assets/js/login.js"></script>

</body>

</html>